* {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color:#D4634A;
    padding: 25px;
    text-align: left;
    color: white;
    h1 {
        font-size: 20px; 
        display: inline;   
    }
    nav {
        display: inline;
        background-color: aliceblue;
    }
  }